{
    "plugins": [
        ["module-resolver", {
            "root": ["."],
            "alias": {
                "models": "./models",
                "components": "./components",
                "providers": "./providers"
            }
        }]
    ]
}
